.wrapper {
    max-width: 1000px;
}

h1 {
    font-size: 2.0rem; /* Adjust as needed */
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  h4 {
    font-size: 1.1rem;
  }
  
  h5 {
    font-size: 1.0rem;
  }
  
  h6 {
    font-size: 0.9rem;
  }