
$brand-color:           #E69875;
$brand-color-light:     #EEB8A0;
$brand-color-dark:      #FF8E5C;

$site-title-color:      $brand-color ;

$text-color:            #D3C6AA ;
$background-color:      #2D353B ;
$code-background-color: #3A4248 ;


$link-base-color:       #A7C080 ;
$link-visited-color:    #514045 ;
$link-hover-color:      #83C092 ;

$border-color-01:       #475258 ;
$border-color-02:       lighten($border-color-01, 4%) ;
$border-color-03:       lighten($border-color-01, 10%);

$table-text-color:      $text-color ;
$table-zebra-color:     lighten($background-color, 4%) ;
$table-header-bg-color: lighten($background-color, 10%) ;
$table-header-border:   $border-color-01 ;
$table-border-color:    $border-color-01 ;
