$dm-brand-color:           #E69875;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) ;
$dm-brand-color-dark:      darken($dm-brand-color, 35%) ;

$dm-site-title-color:      $dm-brand-color-light ;

$dm-text-color:            #D3C6AA ;
$dm-background-color:      #232A2E ;
$dm-code-background-color: #56635F ;

$dm-link-base-color:       #83C892 ;
$dm-link-visited-color:    $dm-link-base-color ;
$dm-link-hover-color:      #E69875 ;

$dm-border-color-01:       $dm-brand-color-dark ;
$dm-border-color-02:       $dm-brand-color-light ;
$dm-border-color-03:       $dm-brand-color ;

$dm-table-text-color:      $dm-text-color ;
$dm-table-zebra-color:     lighten($dm-background-color, 4%) ;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) ;
$dm-table-header-border:   lighten($dm-background-color, 21%) ;
$dm-table-border-color:    $dm-border-color-01 ;
