h1 {
    font-size: 2.0rem; /* Adjust as needed */
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  h4 {
    font-size: 1.1rem;
  }
  
  h5 {
    font-size: 1.0rem;
  }
  
  h6 {
    font-size: 0.9rem;
  }

  .welcome-message {
    background-color: lighten($background-color, 5%); /* Slightly lighter background */
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
    border: 1px solid $border-color-01; /* Add a border */
    color: $text-color; /* Set text color */
  }
  
  .welcome-message h1 {
    color: $site-title-color; /* Use site title color for heading */
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .welcome-message p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

  /* Add spacing between post previews */
.post-preview {
  margin-bottom: 30px; /* Adjust the value as needed */
  padding-bottom: 10px;
  border-bottom: 1px solid $brand-color-dark; /* optional: add a divider line */
}

.post-preview:last-child {
  border-bottom: none; /* optional: remove the bottom border from the last element */
  margin-bottom: 0px; /* optional: remove the bottom margin from the last element */
}