//
//$brand-color:           #E69875;
//$brand-color-light:     #E69875;
//$brand-color-dark:      #3A515D;

//$site-title-color:      $brand-color ;

//$text-color:            #D3C6AA ;
//$background-color:      #232A2E ;
//$code-background-color: #56635F ;


//$link-base-color:       #E69875 ;
//$link-visited-color:    $link-base-color ;
//$link-hover-color:      #83C892 ;

//$border-color-01:       #3A515D ;
//$border-color-02:       #E69875;
//$border-color-03:       #D3C6AA;

//$table-text-color:      $text-color ;
//$table-zebra-color:     lighten($background-color, 4%) ;
//$table-header-bg-color: lighten($background-color, 10%) ;
//$table-header-border:   lighten($background-color, 21%) ;
//$table-border-color:    $border-color-01 ;


$brand-color:           #e69875; // Warmer accent color
$brand-color-light:     #d3c6aa; // Light accent color
$brand-color-dark:      #2b3339; // Dark accent color

$site-title-color:      #d3c6aa; // Foreground color

$text-color:            #d3c6aa; // Foreground color
$background-color:      #323d43; // Slightly warmer background color
$code-background-color: #3b4349; // Slightly darker background for code blocks

$link-base-color:       #e69875; // Warmer accent color
$link-visited-color:    #a7c080; // Accent color
$link-hover-color:      #83c092; // Info color

$border-color-01:       #a7c080; // Accent color
$border-color-02:       #3b4349; // Slightly darker background
$border-color-03:       #2b3339; // Background color

$table-text-color:      #d3c6aa; // Foreground color
$table-zebra-color:     #3b4349; // Slightly darker background for zebra stripes
$table-header-bg-color: #a7c080; // Accent color for table headers
$table-header-border:   #2b3339; // Background color for table header borders
$table-border-color:    #3b4349; // Slightly darker background for table borders